<h1>Productos en tiempo real</h1>
<ul id="products-list"></ul>
<form id="addProductForm">
    <input type="text" id="title" placeholder="Título del producto" required />
    <input type="number" id="price" placeholder="Precio del producto" required />
    <button type="submit">Agregar producto</button>
</form>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
    const productsList = document.getElementById('products-list');
    const form = document.getElementById('addProductForm');

    socket.on('updateProducts', (products) => {
        productsList.innerHTML = '';
        products.forEach(product => {
            productsList.innerHTML += `<li>${product.title} - ${product.price} 
            <button onclick="addToCart(${product.id})">Agregar al carrito</button></li>`;
        });
    });

    form.addEventListener('submit', (e) => {
        e.preventDefault();
        const product = {
            title: document.getElementById('title').value,
            price: parseFloat(document.getElementById('price').value)
        };
        socket.emit('addProduct', product);
        form.reset();
    });

    async function addToCart(productId) {
        try {
            const response = await fetch(`/carts/1/product/${productId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            
            if (response.ok) {
                alert('Producto agregado al carrito');
            } else {
                const errorData = await response.json();
                alert(`Error al agregar el producto: ${errorData.error}`);
            }
        } catch (error) {
            console.error('Error al agregar el producto:', error);
            alert('Hubo un problema al agregar el producto al carrito');
        }
    }
</script>
